*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

html,body{
    font-family: "Inter",sans-serif;
    margin: 0;
    background-color: #F0F0F7;
    user-select: none;
    font-size: 62.5%;
    /* overflow-x: hidden; */
}

.site-wrapper{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    flex-wrap: nowrap;
    min-height: 100vh;
}

.nav-header{
    min-width: 100%;
    position: sticky;
    top: 0;
  
    
    
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    background-color: #F4F4F9 ;
    box-shadow: 2px 2px 10px 3px #D9D9F4 ;
    user-select: none;
    height: 110px;
    
    
}

.nav-header-elements{
    display: flex;
    align-items: center;
    gap: 50px;
    font-weight: 600;
    padding: 0 5rem;
    font-size: 1.6rem;
    
 
}

a{
    text-decoration: unset;
}


.nav-header img{
    min-width: 5rem;
    width: 12rem;
    margin-right: auto;
    
   
}

.nav-active{
    font-size: large;
    font-weight: 900;
    text-decoration: underline;
   
}

.nav-inactive{
    color: #551a8e;
}


.nav-header a:active{
   
    text-decoration: none;
    color: #551a8e;
}


.nav-header-elements .nav-inactive:hover{
    font-size: larger;
    font-weight: bolder;
    text-decoration: underline;
    color: #000;
}



footer{
    height: 150px;
    display: flex;
   justify-content: center;
   align-items: center;
    background-color: #d9cbe8;
    margin-top: auto;
    flex-direction: row;
}

footer img{
    width: 40px;
    margin: auto 5rem;
    cursor: pointer;
}

footer img:hover{
    width: 60px;
   
}

.home-container{
    display: flex;
    flex-direction: column;
}



.intro{
    display: flex;
    margin-bottom: auto;
    align-items: center;
    justify-content: center;
    padding: 14rem;
    
    
}
.intro img{
    height: auto;
    min-width: 20rem;
    width: 25rem;
    padding-right: 5rem;
}

quote{
  
    font-weight: bolder;
    font-size: 5rem;
    line-height: 60px;
    color: #562d7a;
    font-family: "Caveat";

}
.intro-quote{
    width: 40ch;
    
}

.skillset{
    background-color: #551a8e;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.skillset-images{
    display: grid;
    gap: 1rem;   
}

/* media queries  */

@media screen and (max-width:900px) {
    .skillset-images { grid-template-columns: repeat(2, 1fr); }
    .actual-filter-buttons{
        display: flex;
        flex-direction: column;
        gap: 2rem;

        display: grid;
        place-items: center;
        align-content: center;
    }
    .resume-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        padding: 5rem;
    }
    
}


  
 
  @media screen and (min-width: 901px) {
    .skillset-images { grid-template-columns: repeat(4, 1fr); }
    
    .certificates-container { grid-template-columns: repeat(2, 1fr); }
    
    .actual-filter-buttons{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
        
  
    }
    section{
        display: grid;
        place-items: center;
        align-content: center;
        min-height: 100vh;
       
    }
}

   
/* end of media queries  */

.skillset-quote{
    padding: 3rem;
    color: white;

}

.skillset-logo img{
    width: 100px;
   
}

.tooltip{
    font-size: 1.5rem;
    width: 100px;
    height: 30px;
    text-align: center;
    padding: .5rem;
    visibility: hidden;
    color: white;
    
}

.skillset-logo:hover .tooltip{
    visibility: visible;
}

.certificates-container{
    display: grid;
    gap: 5rem;
    padding: 10rem;
    
}

.certificates-container h1,h2,h3{
    color: white    ;
   font-size: large;
   
}

.certificates-container figure{
    text-align: center;
    background-color: #551a8e;
    padding: 3rem;
    border-radius: 2rem;
    margin-trim: block;
}

.certificates-container h2{
    font-style: italic;
}

.certificates-container h3{
    text-align: right;
}



.filter-year-buttons button{
    padding: 1rem 3rem; 
    margin: .5rem;
    border: none;
    font-family: "Inter",sans-serif;
    background-color: #af87cf;
    color: aliceblue;
    border-radius: 1.5rem;
    width: 15rem;
    align-self: center;
    font-size: medium;
    cursor: pointer;
}
.filter-year-buttons h1{
    font-family: "Caveat";
    color: #562d7a;
    margin-top: 5rem;
    font-size: xx-large;
    text-align: center;
}

.filter-year-buttons button:hover{
    background-color: #563572;

}

.filter-year-buttons .selected:hover{
    background-color: #562d7a;

   
}

.filter-year-buttons .selected{
    background-color: #562d7a;
    color: white;
   
}

