:root{
    --text: #000000;
    --background: #e8e7fe;
    --primary-button: #2e20f3;
    --secondary-button: #cdcafc;
    --accent: #1b0ced;
    --background2: #dcdbf1;
}

*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

html,body{
    font-family: "Inter",sans-serif;
    margin: 0;
    background-color: var(--background);
    user-select: none;
    font-size: 62.5%;
    overflow-x: hidden;
}

.site-wrapper{
    display: flex;
    flex-direction: column;
    /* overflow-x: hidden; */
    /* flex-wrap: nowrap; */
    min-height: 100vh;
    justify-content: space-around;
}

.nav-header{
    min-width: 100%;
    position: sticky;
    top: 0;
  
    
    
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    background-color: var(--background) ;
    box-shadow: 2px 2px 10px 3px var(--secondary-button);
    user-select: none;
    height: 95px;
    
    
}

.nav-header-elements{
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 600;
    padding: 0 3rem;
    font-size: 1.7rem;
    
   
}

a{
    text-decoration: unset;
}


.nav-header img{
    min-width: 5rem;
    width: 10rem;
    /* margin-right: auto; */
    margin-left: 1rem;
    
   
}

.nav-active{
    border-radius: 0.5rem;
    color: var(--accent);
}

.nav-inactive{
    color: var(--text);
    transition: all 200ms ease ;
}


.nav-header a:active{
   
    text-decoration: none;
    color: var(--text);
}


.nav-header-elements .nav-inactive:hover{
    cursor: pointer;
    transform: translateY(-.4rem);

}



footer{
    height: 100px;
    display: flex;
   justify-content: center;
   align-items: center;
    background-color: var(--secondary-button);
    margin-top: auto;
    flex-direction: row;

}

footer img{
    width: 40px;
    margin: auto 5rem;
    cursor: pointer;

    transition: all 3ms ease;
}

footer img:hover{
    width: 60px;
   
}

main{
    display: flex;
    flex-direction: column;
}



.intro{
    display: flex;
    margin-bottom: auto;
    align-items: center;
    justify-content: center;
    padding: 14rem;
    
    
}

.cool-color-change{
    color: var(--accent);
}
.intro img{
    height: auto;
    width: 25rem;
    padding-right: 3rem;
}


.quote{
    font-weight: 400;
    font-size: 5rem;
    line-height: 60px;
    color: var(--text);
    font-family: "Caveat";
}

.intro-quote{
    width: 40ch;
    
}

.full-bleed{
    box-shadow: 0 0 0 100vmax var(--secondary-button);
    clip-path: inset(0 -100vmax);
}

.skillset{
    background-color:  var(--secondary-button);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    margin-bottom: 5rem;
    
}

.skillset-images{
    display: grid;
    gap: 1rem;   
}

/* media queries  */

@media screen and (max-width:600px) {
    
    .intro{
        display: grid;
        grid-template: 1fr 1fr / 1fr;
        place-items: center;

    }
    .quote{
        margin-top: -5rem;
        width: 17ch;
        text-align: center;
        
    }
    .skillset-images { grid-template-columns: repeat(2, 1fr); }
    .actual-filter-buttons{
        display: flex;
        flex-direction: column;
        gap: 2rem;

        display: grid;
        place-items: center;
        align-content: center;
    }
    .resume-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        padding: 5rem;
    }
    
    .education-container{
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
    }

    .explore-btn{
        margin-bottom: 5rem;
        margin-top: 5rem;
    }
    /*  */
    .project-details{
        /* margin: 7rem!important; */
        font-size: x-large;
        display: flex;
        flex-direction: column!important;
        align-items: center;
        line-height: 3rem;
        width: 30rem;
        background-color: var(--secondary-button);
        border-radius: 0.5rem;
        border: var(--accent) 0.5px solid;
        gap:2rem;
    
    }
    
    .tech-stack{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap!important;
       
        justify-content: center;
        width: 25rem;
    } 

    .project-desc-details{
        width: 15ch!important;
        text-align: center;
    } 
    .certificates-container{
        display: flex!important;
        flex-direction: column;
        gap: 2rem;

        display: grid;
        place-items: center;
        align-content: center;
    }

    
}


  
 
  @media screen and (min-width: 601px) {
    .skillset-images { grid-template-columns: repeat(4, 1fr); }
    
    .certificates-container { grid-template-columns: repeat(2, 1fr); }
    
    .actual-filter-buttons{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
        
  
    }
    section{
        display: grid;
        place-items: center;
        align-content: center;
        min-height: 100vh;
       
    }
}

   
/* end of media queries  */

.skillset-quote{
    color: var(--text);
    text-align: center;

    max-width: 48ch;
    font-size: 5rem;
    line-height: 60px;
    font-family: "Caveat"

}

.skillset-logo img{
    width: 100px;
    height: 100px;
    object-fit: contain;
   
}

.tooltip{
    font-size: 1.5rem;
    width: 100px;
    height: 30px;
    text-align: center;
    padding: .5rem;
    visibility: hidden;
    color: var(--accent);
    
}

.skillset-logo:hover .tooltip{
    visibility: visible;
}

.certificates-container{
    display: grid;
    gap: 5rem;
    padding: 10rem;
    
}

.certificates-container h1,h2,h3{
    color: var(--text)    ;
   font-size: large;
   
}

.certificates-container figure{
    text-align: center;
    background-color: var(--secondary-button);
    padding: 3rem;
    border-radius: 2rem;
    margin-trim: block;
}

.certificates-container h2{
    font-style: italic;
}

.certificates-container h3{
    text-align: right;
}

.button-transition{
    transition: all 200ms ease;
}
.button-transition:hover{
    transform: translateY(-0.5rem);
}


.rest{
    padding: 1rem 3rem; 
    margin: .5rem;
    border: none;
    font-family: "Inter",sans-serif;
    background-color: var(--primary-button);
    color: aliceblue;
    border-radius: 0.5rem;
    width: 15rem;
    align-self: center;
    font-size: medium;
    cursor: pointer;

  
}
.filter-year-buttons h1{
    font-family: "Caveat";
    color: var(--text);
    margin-top: 5rem;
    font-size: xx-large;
    text-align: center;
}

.rest:hover{
    box-shadow: 0px 30px 200px 5px var(--accent);

   
}


.actual-filter-buttons .selected{
    background-color: #191388;
    color: white;
   
    padding: 1rem 3rem; 
    margin: .5rem;
    border: none;
    font-family: "Inter",sans-serif;
    border-radius: 0.5rem;
    width: 15rem;
    align-self: center;
    font-size: medium;
    cursor: pointer;
}

.year-clear{

    background: none;
    color: var(--text);
    border: none;
    text-decoration: underline;
    font-family: "Inter",sans-serif;
    font-size: medium;
    cursor: pointer;
    
}

.year-clear:hover{
    color: var(--accent);
}
/* iframe{
    width: 40rem;
    height: 55rem;
    
    border: none;
} */

.resume-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    padding: 5rem;
}

.resume-container button{
    padding: 2rem 10rem;
    background-color: var(--primary-button);
    font-family: "Inter",sans-serif;
    color: white;
    font-size: large;
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
}

.resume-container button:hover{
    box-shadow: 0px 4px 300px 5px var(--accent);
}

.resume-download{
    font-family: "Caveat",sans-serif;
    color: var(--text);
    font-size: large;
    text-align: center;
    
}

.resume-container embed{
   
    box-shadow: 1rem 1rem 7rem 0rem var(--accent);
}

.exploration{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;   
    gap:5rem; 
}

.explore-btn{
    font-family: 'Inter',sans-serif;
    padding: 2rem 5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--secondary-button);
    color: var(--text);
   margin-top: 5rem;
}

.education-container{
    
    display: flex;
    /* flex-direction: row; */
    gap: 5rem;

   
}

.education-details{
    background-color: var(--background2);
    width: 90ch;
    border-radius: 0.5rem;
    padding: 5rem;
    line-height: 3rem;
    text-align: center;
    height: 37rem;
    margin-bottom: 5rem;
}

.education-container h1{
    font-weight: 600;
}

.education-container h2,h3,h4{
    font-weight: 400;
}

.education-container h1,h2,h3,h4{
    font-size: large;
    color: var(--text);
}

.education-details h2,h4{
    color: var(--primary-button);
}

.education-details h4{
    align-self: flex-end;
}

.projects-quote{
    text-align: center;
    margin-top: 15rem;

}
.project-details{
    margin: 5rem;
    font-size: x-large;
    display: flex;
    flex-direction: row;
    text-align: center;
    line-height: 3rem;
    width: auto;
    background-color: var(--secondary-button);
    padding: 8rem;
    border-radius: 0.5rem;
    border: var(--accent) 0.5px solid;
    gap: 5rem;

}
.project-title{
    width: 18ch;
    align-self: center;
    font-weight: bold;
    color: var(--accent);

}

.project-desc{
    display: flex;
    flex-direction: column;
    width: 40ch;
    align-items: center;
}

.tech-stack{
    display: flex;
    gap: 0.5rem;

}
.tech-stack-element{
    margin-top: 3rem;
    padding: 0.5rem 2rem;
    border: var(--accent) 0.1rem solid;
    border-radius: 2rem;
    font-size: small;

}

.project-desc-details{
    width: 35ch;
}
